h1 {
  text-align: center;
}
.image-Container {
  width: 70%;
}
.frame-Container {
  display: flex;
  margin: auto;
  max-width: 700px;
  justify-content: center;
}

.left {
  display: flex;
  align-items: center;
  font-size: 30px;
  transform: translate(45px);
  padding-left: 10px;
  padding-right: 20px;
  cursor: pointer;
  color: rgb(153, 153, 153);
  margin-bottom: 5px;
}

.right {
  display: flex;
  align-items: center;
  font-size: 30px;
  transform: translate(-45px);
  padding-left: 20px;
  padding-right: 10px;
  cursor: pointer;
  color: rgb(153, 153, 153);
  margin-bottom: 5px;
}
.left:hover {
  display: flex;
  background-color: rgba(128, 128, 128, 0.555);
}

.right:hover {
  display: flex;
  background-color: rgba(128, 128, 128, 0.555);
}

.mySlides {
  display: none;
  transition: height 2s ease 2s;
}

.lucy {
  width: 100%;
}

.kids {
  width: 100%;
}

.sky {
  width: 100%;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dots {
  display: flex;
  justify-content: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
